.topTitle{
  text-align: center;
}

.page2{
  display: none;
}
.container{
  background-color:#83D1A7
}
.images{
  height: 200px;
  width: 30%;
  background-color:#83D1A7;
}



#Breakfast, #Lunch, #Dinner, #TakeOut, #Delivery, #Drinks{
  padding: 10px 20px;
      font-size: 20px;
      border-radius: 10px;
      width: 160px;
}

.collectionText{
  font-size: 18pt;
  padding: 10px 20px;
      border-radius: 10px;
      width: 40%;
  color: #D1D5DE;
}
.container{
  font-family: 'Hind Siliguri', sans-serif;
}

body{
  background-color: #83D1A7;
}
.card{
  background-color: #2E4057;
}
.collection{
  font-size: 18pt;
  background-color: transparent;
 border-color: transparent;
 color: #83D1A7
  
}

.test{
  background-color: aquamarine;
}

.outputResults{
  text-align: center;
}
.imageSize{
  width: 30%;
}